flask-mvc/__pycache__
flask-mvc/controllers/admin/__pycache__
flask-mvc/controllers/admin/fuel_type/__pycache__
flask-mvc/controllers/admin/appSetup/__pycache__
flask-mvc/controllers/admin/calculation_setup/__pycache__
flask-mvc/controllers/admin/location/__pycache__
flask-mvc/controllers/__pycache__
flask-mvc/controllers/admin/register/__pycache__
flask-mvc/controllers/admin/users/__pycache__
flask-mvc/controllers/admin/vehicles/__pycache__
flask-mvc/controllers/frontEnd/__pycache__
flask-mvc/controllers/users/__pycache__
flask-mvc/controllers/users/profile/__pycache__
flask-mvc/controllers/users/register/__pycache__
flask-mvc/controllers/users/vehicles/__pycache__
flask-mvc/controllers/users/serviceBooking/__pycache__
flask-mvc/routes/__pycache__
flask-mvc/constants/__pycache__
flask-mvc/.env
.idea/
.vscode/
flask-mvc/extension.pyc